
.SearchBar{
width: 50%;
padding: 2%;
margin: 0 auto;
}

@media (max-width: 768px) {
    .SearchBar{
         width: 80%;
    }
}

@media (max-width: 600px) {
    .SearchBar{
         width: 90%;
    }
}